* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px){
  .header {
    width: 100%;
    z-index: 100;
    position: fixed; 
    background: greenyellow;
    height: 70px;
    top: 0;
  }
  
  .header__infos {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto
  }

  /* .header h4 {
    margin-left: 40px;
  } */

  .card__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 90px;
  }

  .card {
    height: 300px;    
    width: 270px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
  }

  .card img {
    max-width: 220px;
    min-width: 220px;
  }
}
